/* 字型 */
/* @font-face {
    font-family: 'IanSui';
    src: url('https://github.com/sushi3085/Idiom-Game/raw/main/Iansui.ttf') format('truetype');
} */


body {
    margin: 16px;
    background-color: antiquewhite;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.title {
    font-family: IanSui;
    font-size: 45px;
}

.subtitle {
    font-family: IanSui;
    font-size: small;
}


.questioncontainer {
    width: max(300px, 80vw);
    height: min(100px, 80vw);

    background: rgb(145, 235, 241);
    background: radial-gradient(circle, rgb(145, 235, 241), rgb(250, 235, 215) 75%);

    padding-top: 60px;
    padding-bottom: 60px;

    display: flex;
    flex-direction: row;
}

.space {
    height: 25px;
}

.answerzone {
    width: min(300px, 80vw);
    height: min(300px, 80vw);
    background-color: pink;

    display: flex;
    flex-flow: row;
    align-items: center;
    flex-wrap: wrap;

    border-radius: 5px;
}

.qword {
    width: min(23%);
    height: 100%;

    margin: auto;
    background-color: rgb(174, 209, 255);

    border: rgb(61, 145, 255) 2px solid;
    border-radius: 20px;

    line-height: 100px;
    text-align: center;

    font-size: 55px;
}

/*  */

.button {
    width: 48%;
    height: 48%;

    margin: auto;
    border-radius: 10px;

    font-family: 'Iansui';
    background-color: aliceblue;
}

.word {
    position: relative;
    margin: auto;
    text-align: center;
    line-height: 150px;

    font-size: 80px;
}

.score {
    font-family: monospace;
    font-size: 45px;
}